ul{
	display: block;
	height: 50px;
	overflow: hidden;
	
	background-color: white;
}

.nav-elem{
	height: 100%;
}

.nav-elem a{
	display: inline-block;
	min-width: 70px;
	height: 100%;
	line-height: 25px;
	text-align: center;
	padding: 10px;
	color: black;

	background-color: white;
}

.nav-elem a:hover{
	background-color: #e6e6e6;
}

.left{
	float: left;
}

.right{
	float: right;
}