<div class="block content">
	<h1 class="med-title" id="form-header">Draw Image</h1>

	<form [formGroup]="postImageForm" (ngSubmit)="postImage()">
		<div class="form-line">
			<input type="text" name="title" id="title" formControlName="title" placeholder="Title" class="input">
		</div>

		<div class="form-line">
			<div formArrayName="tags"></div>
			<input type="text" name="tagInput" id="tagInput" formControlName="tagInput" placeholder="Tags" class="input">
			<input type="button" id="add-tag" class="basic-button" value="Add tag" (click)="addTag()"/>
		</div>

		<ul class="tags" id="post-image-tags">
			<li class="tag underline-small" *ngFor="let tag of this.postImageForm.controls.tags['controls']">
				<a routerLink="/">{{ tag.value }}; </a>
			</li>
		</ul>

		<button type="submit" class="basic-button">Submit</button>
	</form>
</div>
