<div class="block content">
	<h1 class="med-title" id="form-header">Post Image</h1>

	<form [formGroup]="postImageForm" (ngSubmit)="postImage()">
		<div class="form-line">
			<input type="text" name="title" id="title" [formControl]="title" placeholder="Title" class="input">
		</div>

		<div class="form-line">
			<div formArrayName="tags"></div>
			<input type="text" name="tags" id="tags" placeholder="Tags" class="input" [formControl]="tagInput">
			<input type="button" id="add-tag" class="basic-button" value="Add tag" (click)="addTag()"/>
		</div>

		<ul class="tags" id="post-image-tags">
			<li class="tag underline-small" *ngFor="let tag of tags.value">
				<a routerLink="/">{{ tag }}; </a>
			</li>
		</ul>

		<button type="submit" class="basic-button">Submit</button>
	</form>
</div>
