<div class="block content">
	<h1 class="med-title" id="form-header">Login</h1>

	<form [formGroup]="loginForm" (ngSubmit)="login()">
		<div class="form-line">
			<input type="text" name="username" id="username" formControlName="username" placeholder="Username" class="input">
		</div>

		<div class="form-line">
			<input type="password" name="password" id="password" formControlName="password" placeholder="Password" class="input">
		</div>

		<button type="submit" class="basic-button" id="submit">Submit</button>
	</form>
</div>
