<div class="block content">
	<div class="post-container" *ngFor="let post of data">
		<div class="post-header">
			<h1 class="post-title underline">{{ post.title }}</h1>
			<div class="post-details">
				<span class="post-date">{{ post.date }}</span><span class="post-author">Ftujio</span>
			</div>
		</div>

		<img src="{{ post['img-url'] }}">

		<ul class="tags">
			<li class="tag underline-small" *ngFor="let tag of post.tags">
				<a routerLink="/">{{ tag }}</a>
			</li>
		</ul>
	</div>
</div>